.box1 {
    background-color: coral;
    padding: 20px;
    text-align: justify;
    margin: 20px;
}

.box2 {
    background-color: greenyellow;
    padding: 10px 15px 20px 10px;
    margin: 30px 10px 10px 10px;
}